accelerate>=0.34.2
transformers>=4.44.2
sentencepiece>=0.2.0
gradio>=4.44.0
imageio>=2.35.1
imageio-ffmpeg>=0.5.1
openai>=1.45.0
moviepy>=1.0.3
pillow==9.5.0
peft
SwissArmyTransformer==0.4.12
omegaconf==2.3.0
torch==2.2.0
torchvision
pytorch_lightning
kornia==0.7.3
beartype==0.18.5
numpy==1.26.0
fsspec==2024.5.0
safetensors==0.4.3
imageio-ffmpeg==0.5.1
scipy==1.14.0
decord==0.6.0
wandb==0.17.5
xformers
